# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Terraform
terraform/

# IDE & OS
.vscode/
.idea/
.DS_Store

# Tests
test_app.py
